In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
TAKE_ID = 'UC_211'

df = pd.read_csv(f'./data/IEMP-condombe/Annotations/{TAKE_ID}/{TAKE_ID}_Onsets_Selected.csv')

In [5]:
display(df)

,Take,N,Label SD,SD,C,P,R1,R2,R1 part,R2 part,C Dens,P Dens,R1 Dens,R2 Dens,C Peak,P Peak,R1 Peak,R2 Peak
0,211,3,01:01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,211,3,01:02,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,211,3,01:03,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,211,3,01:04,4,NaN,NaN,3.885748,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,0.032734,NaN
4,211,3,01:05,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,211,3,84:13:00,13,207.011320,207.029256,207.000547,NaN,NaN,NaN,7.0,3.5,7.5,NaN,0.411138,0.161596,0.006913,NaN
1341,211,3,84:14:00,14,207.156993,207.192921,NaN,NaN,NaN,NaN,7.0,3.5,NaN,NaN,0.220383,0.146495,NaN,NaN
1342,211,3,84:15:00,15,207.288064,NaN,207.284204,NaN,NaN,NaN,7.0,NaN,9.0,NaN,0.256687,NaN,0.411803,NaN
1343,211,3,84:16:00,16,207.456369,207.433165,207.432546,NaN,NaN,NaN,7.0,4.0,9.0,NaN,0.596641,0.295471,0.431794,NaN
1344,211,3,85:01:00,1,207.619866,207.641273,207.626351,NaN,NaN,NaN,7.0,4.0,8.5,NaN,NaN,NaN,NaN,NaN